@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --primary-color: #164e63;
    --secondary-color: #ecfeff;
    --tertiary-color: #ccfbf1;
}

body {
    font-family: 'Hind', sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    gap: 50px;
    background-color: var(--primary-color);
    color: white;
}

.header button {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    color: var(--primary-color);
    font-size: 18px;
}

table, tr, td, th {
    border: 1px solid black;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}