@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root {
    --primary-color: #164e63;
    --secondary-color: #ecfeff;
    --tertiary-color: #ccfbf1;
}

button:hover {
    transform: scale(1.05);
}

body {
    font-family: 'Hind', sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    gap: 50px;
    background-color: var(--primary-color);
    color: white;
}

.header button {
    border: 0px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

table, tr, td, th {
    border: 1px solid black;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid var(--primary-color);
}

th, td {
    padding: 10px 30px;
}

thead {
    background-color: var(--primary-color);
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

dialog {
    border: 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
}

form input[type="checkbox"] {
    margin: 0;
}

form input {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--secondary-color);
}

form button {
    justify-self: center;
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
}